<a href="https://colab.research.google.com/github/vani83prasad/Unicorn-Project/blob/main/Project_unicorn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration with SQL for Unicorn Project

## Introduction

### Database Schema
![image.png]()

### Initialize the environment

In [ ]:
import pandas as pd
import sqlalchemy as sa


engine = sa.create_engine("postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/Unicorn")
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

#### Question 1 : How many customers do we have in the data?

In [ ]:
query = """SELECT COUNT(DISTINCT customer_id) AS total_customers
FROM customers;"""

pd.read_sql(sa.text(query),connection)

   total_customers
0              795

#### Querstion 2: What was the city with the most profit for the company in 2015?

In [ ]:
query = """SELECT o.shipping_city, SUM(od.order_profits) AS total_profits
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE EXTRACT(year FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profits DESC
LIMIT 1;
"""

pd.read_sql(sa.text(query),connection)

   shipping_city  total_profits
0  New York City        14753.0

#### Question 3: In 2015, what was the most profitable city's profit?

In [ ]:
query = """SELECT o.shipping_city, SUM(od.order_profits) AS total_profits
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE EXTRACT(year FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profits DESC
LIMIT 1;
"""

pd.read_sql(sa.text(query),connection)

   shipping_city  total_profits
0  New York City        14753.0

#### Question 4: How many different cities do we have in the data?

In [ ]:
query = """SELECT COUNT(DISTINCT shipping_city) AS total_cities
FROM orders;
"""

pd.read_sql(sa.text(query),connection)

   total_cities
0           531

#### Question 5: Show the total spent by customers from low to high.

In [ ]:
query = """SELECT c.customer_id, c.customer_name, SUM(od.order_sales) AS total_spent
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.customer_id, c.customer_name
ORDER BY total_spent ASC;
"""

pd.read_sql(sa.text(query),connection)

     customer_id    customer_name  total_spent
0            456     Lela Donovan          5.0
1            738    Thais Sissman          5.0
2            546  Mitch Gastineau         16.0
3            124     Carl Jackson         17.0
4            657       Roy Skaria         22.0
..           ...              ...          ...
788          758     Tom Ashbrook      14596.0
789          623     Raymond Buch      15117.0
790          388         John Lee      16744.0
791          731     Tamara Chand      19050.0
792          687      Sean Miller      25042.0

[793 rows x 3 columns]

#### Question 6: What is the most profitable city in the State of Tennessee?

In [ ]:
query = """SELECT o.shipping_city, SUM(od.order_profits) AS total_profits
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE o.shipping_state = 'Tennessee'
GROUP BY o.shipping_city
ORDER BY total_profits DESC
LIMIT 1;

"""

pd.read_sql(sa.text(query),connection)

  shipping_city  total_profits
0       Lebanon           83.0

#### Question 7: What’s the average annual profit for that city across all years?

In [ ]:
## Step 1: Identify the most profitable city in Tennessee
## Step 2: Calculate the average annual profit for that city
query = """
WITH MostProfitableCity AS (
    SELECT o.shipping_city, SUM(od.order_profits) AS total_profits
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    WHERE o.shipping_state = 'Tennessee'
    GROUP BY o.shipping_city
    ORDER BY total_profits DESC
    LIMIT 1
)


SELECT m.shipping_city, AVG(annual_profits) AS average_annual_profit
FROM (
    SELECT o.shipping_city, EXTRACT(year FROM o.order_date) AS order_year, SUM(od.order_profits) AS annual_profits
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    WHERE o.shipping_state = 'Tennessee'
    GROUP BY o.shipping_city, EXTRACT(year FROM o.order_date)
) AS yearly_profits
JOIN MostProfitableCity m ON yearly_profits.shipping_city = m.shipping_city
GROUP BY m.shipping_city;

"""

pd.read_sql(sa.text(query),connection)

  shipping_city  average_annual_profit
0       Lebanon              27.666667

#### Question 8: What is the distribution of customer types in the data?

In [ ]:
query = """SELECT customer_segment, COUNT(*) AS customer_count, (COUNT(customer_segment) * 100.0 / SUM(COUNT(customer_segment)) OVER ()) :: numeric(10,2) AS percentage
FROM customers
GROUP BY customer_segment;

"""

pd.read_sql(sa.text(query),connection)

  customer_segment  customer_count  percentage
0         Consumer             410       51.57
1        Corporate             237       29.81
2      Home Office             148       18.62

#### Question 9: What’s the most profitable product category on average in Iowa across all years?

In [ ]:
query = """
SELECT p.product_category, AVG(od.order_profits) AS average_profits
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
JOIN product p ON od.product_id = p.product_id
WHERE o.shipping_state = 'Iowa'
GROUP BY p.product_category
ORDER BY average_profits DESC
LIMIT 1;

"""

pd.read_sql(sa.text(query),connection)

  product_category  average_profits
0        Furniture           130.25

#### Question 10: What is the most popular product in that category across all states in 2016?

In [ ]:
query = """
WITH MostProfitableCategory AS (
    SELECT p.product_category, AVG(od.order_profits) AS average_profits
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    JOIN product p ON od.product_id = p.product_id
    WHERE o.shipping_state = 'Iowa'
    GROUP BY p.product_category
    ORDER BY average_profits DESC
    LIMIT 1
)
-- Step 2: Find the most popular product in that category across all states in 2016
SELECT p.product_name, SUM(od.quantity) AS total_quantity
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
JOIN product p ON od.product_id = p.product_id
WHERE EXTRACT(year FROM o.order_date) = 2016
AND p.product_category = (SELECT product_category FROM MostProfitableCategory)
GROUP BY p.product_name
ORDER BY total_quantity DESC
LIMIT 1;

"""

pd.read_sql(sa.text(query),connection)

                                 product_name  total_quantity
0  Global Push Button Manager's Chair, Indigo            22.0

#### Question 11: Which customer got the most discount in the data? (in total amount)

In [ ]:

query = """
SELECT c.customer_id, c.customer_name,
       SUM((od.order_sales / (1 - od.order_discount)) - od.order_sales) AS total_discount
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.customer_id, c.customer_name
ORDER BY total_discount DESC
LIMIT 1;

 """

pd.read_sql(sa.text(query),connection)

   customer_id customer_name  total_discount
0          687   Sean Miller    23929.083333

#### Question 12: How widely did monthly profits vary in 2018?

In [ ]:
query = """
SELECT
    EXTRACT(month FROM order_date) AS month,
    EXTRACT(year FROM order_date) AS year,
    SUM(order_profits) AS monthly_profits,
    SUM(order_profits) - LAG(SUM(order_profits)) OVER (ORDER BY EXTRACT(year FROM order_date), EXTRACT(month FROM order_date)) AS monthly_diff
FROM
    order_details od
    INNER JOIN orders o on od.order_id = o.order_id
WHERE
    EXTRACT(year FROM order_date) = 2018
GROUP BY
    year, month
ORDER BY
    year, month;

"""

pd.read_sql(sa.text(query),connection)

    month    year  monthly_profits  monthly_diff
0     1.0  2018.0           7137.0           NaN
1     2.0  2018.0           1612.0       -5525.0
2     3.0  2018.0          14758.0       13146.0
3     4.0  2018.0            934.0      -13824.0
4     5.0  2018.0           6342.0        5408.0
5     6.0  2018.0           8226.0        1884.0
6     7.0  2018.0           6951.0       -1275.0
7     8.0  2018.0           9034.0        2083.0
8     9.0  2018.0          10987.0        1953.0
9    10.0  2018.0           9272.0       -1715.0
10   11.0  2018.0           9217.0         -55.0
11   12.0  2018.0           8473.0        -744.0

#### Question 13: Which was the biggest order regarding sales in 2015?

In [ ]:
query = """
SELECT o.order_id, o.order_date, o.shipping_city, o.shipping_state, o.shipping_country,
       SUM(od.order_sales) AS total_sales
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE EXTRACT(year FROM o.order_date) = 2015
GROUP BY o.order_id, o.order_date, o.shipping_city, o.shipping_state, o.shipping_country
ORDER BY total_sales DESC
LIMIT 1;

"""

pd.read_sql(sa.text(query),connection)

,order_id,order_date,shipping_city,shipping_state,shipping_country,total_sales
0,CA-2015-145317,2015-03-18,Jacksonville,Florida,United States,23660.0

#### Question 14: What was the rank of each city in the East region in 2015 in quantity?

In [ ]:
query = """
WITH CityQuantityRank AS (
    SELECT
        shipping_city,
        SUM(quantity) AS total_quantity,
        RANK() OVER (ORDER BY SUM(quantity) DESC) AS quantity_rank
    FROM
        orders o
        JOIN order_details od ON o.order_id = od.order_id
    WHERE
        EXTRACT(year FROM order_date) = 2015
        AND shipping_region = 'East'
    GROUP BY
        shipping_city
)
SELECT
    shipping_city,
    total_quantity,
    quantity_rank
FROM
    CityQuantityRank
ORDER BY
    quantity_rank;

"""

pd.read_sql(sa.text(query),connection)

    shipping_city  total_quantity  quantity_rank
0   New York City          1708.0              1
1    Philadelphia           403.0              2
2        Columbus           167.0              3
3          Newark            64.0              4
4       Fairfield            53.0              5
5      Long Beach            44.0              6
6        Lakewood            38.0              7
7       Lancaster            36.0              8
8        Lawrence            31.0              9
9           Dover            30.0             10
10     Hackensack            28.0             11
11         Bangor            24.0             12
12          Utica            24.0             12
13         Lowell            23.0             14
14        Yonkers            22.0             15
15     Wilmington            21.0             16
16        Clinton            20.0             17
17      Baltimore            20.0             17
18       Cranston            20.0             17
19        Everett            19.0             20
20     Providence            19.0             20
21        Buffalo            19.0             20
22         Medina            16.0             23
23        Meriden            15.0             24
24        Beverly            15.0             24
25   New Rochelle            14.0             26
26        Bristol            14.0             26
27      Hempstead            12.0             28
28      Cleveland            12.0             28
29      Rochester            12.0             28
30         Toledo            12.0             28
31      Watertown            12.0             28
32        Chester            11.0             33
33           Troy            11.0             33
34       Franklin            11.0             33
35          Akron            10.0             36
36        Clifton             9.0             37
37      Jamestown             9.0             37
38        Concord             9.0             37
39       Columbia             8.0             40
40         Lorain             8.0             40
41       Hamilton             8.0             40
42     Cincinnati             8.0             40
43          Mason             7.0             44
44   Mount Vernon             7.0             44
45         Linden             7.0             44
46        Reading             6.0             47
47         Revere             6.0             47
48           Kent             5.0             49
49      Oceanside             5.0             49
50    Springfield             5.0             49
51         Orange             4.0             52
52          Parma             4.0             52
53  Niagara Falls             3.0             54
54     Plainfield             3.0             54
55         Marion             3.0             54
56  Bowling Green             2.0             57
57       Freeport             2.0             57
58     Middletown             2.0             57
59     Woonsocket             2.0             57

#### Question 15: Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’ How many customers are there in total?

In [ ]:
query = """
SELECT customer_name
FROM customers
WHERE customer_segment IN ('Consumer', 'Corporate'); """
pd.read_sql(sa.text(query),connection)

          customer_name
0         Aaron Bergman
1         Aaron Hawkins
2        Aaron Smayling
3             Adam Hart
4    Adam Shillingsburg
..                  ...
642      Yoseph Carroll
643    Zuschuss Carroll
644  Zuschuss Donatelli
645        Zack Gibbens
646         Loren Bowen

[647 rows x 1 columns]

In [ ]:
query1 = """
SELECT COUNT(*)
FROM customers
WHERE customer_segment IN ('Consumer', 'Corporate');

"""


pd.read_sql(sa.text(query1),connection)

   count
0    647

#### Question 16: Calculate the difference between the largest and smallest order quantities for product id ‘100.’

In [ ]:
query = """
SELECT
    MAX(quantity) AS max_quantity,
    MIN(quantity) AS min_quantity,
    MAX(quantity) - MIN(quantity) AS difference
FROM
    order_details
WHERE
    product_id = '100';

"""

pd.read_sql(sa.text(query),connection)

   max_quantity  min_quantity  difference
0             6             2           4

#### Question 17: Calculate the percent of products that are within the category ‘Furniture.’

In [ ]:
query = """
SELECT
    COUNT(*) AS total_products,
    SUM(CASE WHEN product_category = 'Furniture' THEN 1 ELSE 0 END) AS furniture_products,
    (SUM(CASE WHEN product_category = 'Furniture' THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS percent_furniture
FROM
    product;

"""

pd.read_sql(sa.text(query),connection)

   total_products  furniture_products  percent_furniture
0            1850                 380          20.540541

#### Question 18: Display the number of product manufacturers with more than 1 product in the product table.

In [ ]:
query = """
SELECT
    product_manufacturer,
    COUNT(DISTINCT product_id) AS num_products
FROM
    product


GROUP BY
    product_manufacturer
    HAVING COUNT(DISTINCT product_id) >2;

"""
## where product_manufacturer like '%San%' to answer the exam
pd.read_sql(sa.text(query),connection)

  product_manufacturer  num_products
0              SanDisk             8
1              Sanford            11

#### Question 19: Show the product_subcategory and the total number of products in the subcategory.
### Show the order from most to least products and then by product_subcategory name ascending.

In [ ]:
## Show the product_subcategory and the total number of products in the subcategory.
query = """
SELECT
    product_subcategory,
    COUNT(*) AS total_products
FROM
    product
GROUP BY
    product_subcategory
ORDER BY
    total_products DESC;

"""

pd.read_sql(sa.text(query),connection)

   product_subcategory  total_products
0                Paper             277
1              Binders             211
2               Phones             189
3          Furnishings             186
4                  Art             157
5          Accessories             147
6              Storage             132
7           Appliances              97
8               Chairs              88
9               Labels              70
10            Machines              63
11              Tables              56
12           Bookcases              50
13           Envelopes              44
14            Supplies              36
15           Fasteners              34
16             Copiers              13

In [ ]:
## Show the order from most to least products and then by product_subcategory name ascending.
query = """
SELECT
    o.order_id,
    COUNT(od.product_id) AS num_products,
    p.product_subcategory
FROM
    orders o
JOIN
    order_details od ON o.order_id = od.order_id
JOIN
    product p ON od.product_id = p.product_id
GROUP BY
    o.order_id, p.product_subcategory
ORDER BY
    num_products DESC, p.product_subcategory ASC;


"""

pd.read_sql(sa.text(query),connection)

            order_id  num_products product_subcategory
0     CA-2017-166674             4                 Art
1     CA-2016-109470             4             Binders
2     CA-2017-165330             4             Binders
3     CA-2018-100111             4              Chairs
4     CA-2018-100111             3         Accessories
...              ...           ...                 ...
9164  CA-2017-142594             1              Tables
9165  CA-2017-130820             1              Tables
9166  CA-2018-166142             1              Tables
9167  US-2017-143819             1              Tables
9168  US-2018-113992             1              Tables

[9169 rows x 3 columns]

#### Question 20: Show the product_id(s), the sum of quantities, where the total sum of its product quantities is greater than or equal to 100.

In [ ]:
query = """

SELECT
    product_id,
    SUM(quantity) AS total_quantity
FROM
    order_details
GROUP BY
    product_id
HAVING
    SUM(quantity) >= 100;
"""

pd.read_sql(sa.text(query),connection)

   product_id  total_quantity
0         538           150.0
1         812           109.0
2        1216           132.0
3        1507           539.0
4        1501           170.0
5         920           155.0
6        1600           221.0
7         122           295.0

#### Question 20 answer for Quiz: Show the product_id(s), the sum of quantities, where the total sum of its product quantities is greater than or equal to 100.

In [ ]:
query = """
SELECT p.product_id, SUM(od.quantity) as total_quantity
FROM order_details od
JOIN product p ON p.product_id = od.product_id
WHERE od.quantity >= 100
GROUP BY 1
ORDER BY 2 DESC, 1 ASC

"""

pd.read_sql(sa.text(query),connection)

   product_id  total_quantity
0        1507           324.0
1        1600           216.0
2         122           143.0
3         920           130.0

#### Export the to CSV

In [ ]:
query = """SELECT o.*, c.customer_name,c.customer_segment,
od.order_details_id,od.quantity,od.order_discount,od.order_profits,od.order_profit_ratio,od.order_sales,
p.product_id,p.product_name,p.product_category,p.product_subcategory,p.product_manufacturer
from orders o
left join order_details od on od.order_id=o.order_id
left join product p on p.product_id=od.product_id
left join customers c on c.customer_id=o.customer_id ;"""

df=pd.read_sql(sa.text(query),connection)

df.to_csv('Unicorn.csv')